<div class="container">
 <% if user_signed_in? %>
  <div class="py-4">
    <%= link_to "Create New Event!", new_event_path, class: "#{button_class(theme: "secondary")} p-4" %>
  </div>
<% end %>
  <%= render partial: "shared/events", locals: {events:@events} %>
</div>